@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: Roboto , sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F9F9F9;
}

header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1260px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0 !important;
  margin-bottom: 25px !important;
}

header a {
  height: 48px;
}

header p {
  font-size: 1rem;
  color: #1B0637;
  font-weight: 700;
}

.login-container {
  margin-top: 15px;
  padding-top: 25px;
  padding-bottom: 75px;
  background-color: #FFFFFF;
  width: 100%;
  max-width: 500px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 7px 0 #00000014, 0 2px 7px 0 #0000001f;
          box-shadow: 0 0 7px 0 #00000014, 0 2px 7px 0 #0000001f;
}

.login-container form {
  margin: auto;
  width: 70%;
}

.login-container form h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #AF1124;
  margin-bottom: 50px;
}

.login-container form label {
  font-size: 1.125rem;
  width: 100%;
  color: #1B0637;
  font-weight: 500;
}

.login-container form input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: none;
  outline-color: #1B0637;
  border: 2px solid #E1E1E1;
  padding-left: 20px;
  font-size: 14px;
  color: #1B0637;
  margin-bottom: 20px;
  margin-top: 4px;
}

.login-container form input::-webkit-input-placeholder {
  color: #B5B5B5;
}

.login-container form input:-ms-input-placeholder {
  color: #B5B5B5;
}

.login-container form input::-ms-input-placeholder {
  color: #B5B5B5;
}

.login-container form input::placeholder {
  color: #B5B5B5;
}

.login-container form button {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: #CC142A;
  color: #EDE2FC;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.login-container form button:hover {
  background-color: #AF1124;
}

.login-container form .signlog {
  border-top: 2px solid #E1E1E1;
  padding-top: 15px;
  margin-top: 15px;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: #1B0637;
}

.login-container form .signlog a {
  text-decoration: none;
  color: #6316C7;
  margin-inline: 4px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.login-container form .signlog a:hover {
  color: #9552EC;
}

.login-container form .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container form .checkbox .check {
  accent-color: #EB3349;
  margin: 0;
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  margin-right: 10px;
}

.login-container form .checkbox label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #1B0637;
}

.login-container form .checkbox label a {
  text-decoration: none;
  color: #6316C7;
  margin-inline: 4px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.login-container form .checkbox label a:hover {
  color: #9552EC;
}

@media screen and (max-width: 750px) {
  body {
    background-color: unset;
  }
  .login-container {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  form {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  body {
    margin-inline: 8px;
  }
  .login-container form {
    width: 95% !important;
  }
  .login-container form h1 {
    font-size: 2.125rem;
  }
  .login-container form h2 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 355px) {
  .login-container form {
    text-align: center;
  }
  .login-container form h1 {
    font-size: 1.5rem;
  }
  .login-container form h2 {
    font-size: 1rem;
  }
  .login-container form input {
    padding-left: 0;
    text-align: center;
    height: 44px;
  }
  .login-container form input::-webkit-input-placeholder {
    text-align: center;
  }
  .login-container form input:-ms-input-placeholder {
    text-align: center;
  }
  .login-container form input::-ms-input-placeholder {
    text-align: center;
  }
  .login-container form input::placeholder {
    text-align: center;
  }
  .login-container form button {
    height: 44px;
  }
}
/*# sourceMappingURL=logstyle.css.map */