@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: Roboto , sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  max-width: 1260px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 75px;
  padding-top: 0 !important;
}

header img {
  border-right: 2px solid #1B0637;
  margin-right: 20px;
  padding-right: 8px;
}

header p {
  font-size: 1rem;
  color: #1B0637;
  font-weight: 700;
  margin: 0;
}

.faq {
  max-width: 1260px;
  margin: 0 auto;
  margin-top: 50px;
}

.faq .background-title h1 {
  color: #B5B5B5;
  opacity: 0.5;
}

.faq .background-title h2 {
  color: #1B0637;
}

.faq .background-title p {
  color: #252525;
}

.faq .accordion {
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.11);
  padding: 0;
  color: #1B0637;
}

.faq .accordion-button {
  color: #1B0637;
  font-weight: 500;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq .accordion-button::after {
  background-image: url(Dropdown.svg);
}

.faq .accordion-button:not(.collapsed) {
  background-color: #EDE2FC;
  color: #6316C7;
}

.faq .accordion-button:not(.collapsed)::after {
  background-image: url(Dropdownup.svg);
}

.faq .accordion-body {
  background-color: #f9f9f9;
  -webkit-box-shadow: inset 0px 0px 7px rgba(181, 181, 181, 0.25);
          box-shadow: inset 0px 0px 7px rgba(181, 181, 181, 0.25);
  border-top: 3px solid #E1E1E1;
}

.contact-us {
  margin-top: 150px;
}

.contact-us .background-title h1 {
  color: #B5B5B5;
  opacity: 0.5;
}

.contact-us .background-title h2 {
  color: #1B0637;
}

.contact-us .background-title p {
  color: #252525;
}

.contact-us .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px auto 100px;
  max-width: 1260px;
  height: 100vh;
  max-height: 600px;
  -webkit-box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

.contact-us .contact-content .contact-info {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 65%;
  max-width: 410px;
  height: 100%;
  background-color: #1B0637;
  color: #EDE2FC;
  border-radius: 15px;
  padding-left: 50px;
  position: relative;
  overflow: hidden;
}

.contact-us .contact-content .contact-info .info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

.contact-us .contact-content .contact-info .info-title h1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.03em;
  font-size: 2rem;
  font-weight: 700;
  z-index: 2;
}

.contact-us .contact-content .contact-info .info-title h3 {
  margin-top: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  max-width: 300px;
  font-size: 0.875rem;
  font-weight: 400;
  z-index: 2;
}

.contact-us .contact-content .contact-info .info-content {
  margin-block: 35px 0;
}

.contact-us .contact-content .contact-info .info-content .inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  font-size: 0.875rem;
  z-index: 2;
}

.contact-us .contact-content .contact-info .info-content .inf img {
  margin-right: 20px;
  z-index: 2;
}

.contact-us .contact-content .contact-info .media {
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-us .contact-content .contact-info .media a {
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 32px;
  margin-inline: 5px;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 2;
}

.contact-us .contact-content .contact-info .media a:hover {
  background-color: #6316C7;
}

.contact-us .contact-content .contact-info::before {
  content: '';
  position: absolute;
  background-color: #380D71;
  width: 366px;
  height: 366px;
  right: -183px;
  bottom: -183px;
  border-radius: 50%;
  z-index: -1;
}

.contact-us .contact-content .contact-info::after {
  content: '';
  position: absolute;
  background-color: #9552EC;
  width: 120px;
  height: 120px;
  right: 70px;
  bottom: 70px;
  border-radius: 50%;
  opacity: 0.9;
  z-index: -1;
}

.contact-us .contact-content .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-inline: 50px;
  width: 100%;
}

.contact-us .contact-content .contact .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-block: auto;
}

.contact-us .contact-content .contact .contact-form .name,
.contact-us .contact-content .contact .contact-form .mail-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.contact-us .contact-content .contact .contact-form .name .control,
.contact-us .contact-content .contact .contact-form .mail-mobile .control {
  width: 100%;
}

.contact-us .contact-content .contact .contact-form .name .control:nth-child(2),
.contact-us .contact-content .contact .contact-form .mail-mobile .control:nth-child(2) {
  margin-left: 45px;
}

.contact-us .contact-content .contact .contact-form .name h3,
.contact-us .contact-content .contact .contact-form .mail-mobile h3 {
  color: #1B0637;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.contact-us .contact-content .contact .contact-form .name input,
.contact-us .contact-content .contact .contact-form .mail-mobile input {
  height: 50px;
  border-radius: 8px;
  border: none;
  outline-color: #1B0637;
  border: 2px solid #E1E1E1;
  padding-left: 20px;
  font-size: 0.875rem;
  color: #1B0637;
  padding-left: 10px;
  margin-bottom: 20px;
  width: 100%;
  width: 100%;
}

.contact-us .contact-content .contact .contact-form .name .img-name,
.contact-us .contact-content .contact .contact-form .name .img-email,
.contact-us .contact-content .contact .contact-form .name .img-fname,
.contact-us .contact-content .contact .contact-form .name .img-tel,
.contact-us .contact-content .contact .contact-form .mail-mobile .img-name,
.contact-us .contact-content .contact .contact-form .mail-mobile .img-email,
.contact-us .contact-content .contact .contact-form .mail-mobile .img-fname,
.contact-us .contact-content .contact .contact-form .mail-mobile .img-tel {
  height: 18px;
  width: 18px;
  position: absolute;
  visibility: hidden;
}

.contact-us .contact-content .contact .contact-form .name .img-name,
.contact-us .contact-content .contact .contact-form .name .img-email,
.contact-us .contact-content .contact .contact-form .mail-mobile .img-name,
.contact-us .contact-content .contact .contact-form .mail-mobile .img-email {
  margin: 9px 5px 0 0;
  right: 36%;
}

.contact-us .contact-content .contact .contact-form .name .img-fname,
.contact-us .contact-content .contact .contact-form .name .img-tel,
.contact-us .contact-content .contact .contact-form .mail-mobile .img-fname,
.contact-us .contact-content .contact .contact-form .mail-mobile .img-tel {
  margin-top: 9px;
  right: 10%;
}

.contact-us .contact-content .contact .contact-form .control.Success input {
  border-color: #05AC7D;
}

.contact-us .contact-content .contact .contact-form .control.Success .suc {
  visibility: visible;
}

.contact-us .contact-content .contact .contact-form .control.error input {
  border-color: #B91C1C;
}

.contact-us .contact-content .contact .contact-form .control.error .ero {
  visibility: visible;
}

.contact-us .contact-content .contact .types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.contact-us .contact-content .contact .types .qst {
  margin-bottom: 15px;
  color: #1B0637;
  font-size: 1rem;
  font-weight: 500;
}

.contact-us .contact-content .contact .types .inp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.contact-us .contact-content .contact .types .inp .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-us .contact-content .contact .types .inp .radio .msgtype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  margin-bottom: 7px;
}

.contact-us .contact-content .contact .types .inp .radio label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  font-size: 0.875rem;
  color: #1B0637;
  font-weight: 500;
}

.contact-us .contact-content .contact .types .inp .radio input {
  accent-color: #EB3349;
  width: 20px;
  height: 20px;
}

.contact-us .contact-content .contact .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-us .contact-content .contact .message h3 {
  color: #1B0637;
  font-size: 1rem;
  font-weight: 500;
}

.contact-us .contact-content .contact .message .msg {
  margin-top: 10px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #1B0637;
  padding: 15px 0 15px;
  font-size: 0.875rem;
  color: #1B0637;
}

.contact-us .contact-content .contact .message .submit {
  width: 180px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #CC142A;
  color: #F9F9F9;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  cursor: pointer;
}

.contact-us .contact-content .contact .message .submit:hover {
  background-color: #AF1124;
}

@media screen and (max-width: 1070px) {
  .contact-us .contact-content .contact-info {
    padding-left: 22px;
  }
  .contact-us .contact-content .contact-info .info-title h1 {
    font-size: 1.875rem !important;
  }
  .contact-us .contact-content .contact-info .info-title h3 {
    font-size: 0.75rem !important;
  }
}

@media screen and (max-width: 925px) {
  .contact-us .contact-content {
    max-height: unset;
    height: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-us .contact-content .contact-info {
    height: 300px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    padding-left: 50px;
  }
  .contact-us .contact-content .contact {
    padding-block: 50px;
  }
}

@media screen and (max-width: 625px) {
  .contact-us .contact-content .contact-info {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    height: 375px;
    padding-left: 20px;
  }
  .contact-us .contact-content .contact-info .media {
    margin-top: 30px;
  }
  .contact-us .contact-content .contact {
    padding-inline: 20px;
  }
  .contact-us .contact-content .contact .contact-form .mail-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-us .contact-content .contact .contact-form .mail-mobile .control {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 481px) {
  .contact-us .contact-content .contact-info {
    padding-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .contact-us .contact-content .contact-info .info-content .inf {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-us .contact-content .contact-info:after {
    display: none;
  }
  .contact-us .contact-content .contact-form .name .control:nth-child(2) {
    margin-left: 12px !important;
  }
}

@media screen and (max-width: 425px) {
  .radio {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (max-width: 310px) {
  .contact .message .submit {
    width: 100% !important;
  }
}
/*# sourceMappingURL=support.css.map */