@import "typcolors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1260px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 75px;
    padding-top:0 !important;
    img {
        border-right: 2px solid $primary-900;
        margin-right: 20px;
        padding-right: 8px;

    }
    p {
        font-size: $large_5;
        color: $primary-900;
        font-weight: $Bold;
        margin: 0;

    }
}

// ***********FAQ*************

.faq{
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    .faq-title{
        text-align: center;

        h1{
            color: $primary-700;
            font-size: $large_1;
            font-weight: $Black;
        }
        h3{
            color: $primary-900;
            font-weight: $Regular;
        }
    }
    .faq-content{
        width: 70%;
        max-width: 900px;
        margin: 50px auto 0;
        height: auto;
        display: flex;
        flex-direction: column;
        box-shadow: $Shadow_MD;
        border-radius: 15px 15px 15px 15px;
        overflow: hidden;
        
        .qst{
            width: 100%;
            height: auto;
            

            .visible{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                z-index: 100;
                border: 1px solid $neutral-300;
                // background: $neutral-300;
                // border-radius: 10px;

                
                h2{
                    margin-left: 30px;
                    padding: 15px 5px;
                    font-size: $large_4;
                    font-weight: $Regular;
                }

                img{
                    margin-right: 30px;
                    cursor: pointer;
                }
            }
            .active.visible{
                background-color: aqua;
            }

            .hidden{
                opacity: 0;
                height: 0px;
                background-color: $neutral-50;
                box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
                
                p{
                    padding: 20px 30px;
                    line-height: 1.5;
                    color: $neutral-700;
                }
            }
        }
    }
}

// ***********CONTACT US*********

.contact-us{
    margin-top: 150px;
    .contact-title{
        text-align: center;
        h1{
            color: $primary-700;
            font-size: $large_1;
            font-weight: $Black;
        }
        h3{
            color: $primary-900;
            font-weight: $Regular;
        }
    }

    .contact-content{
        display: flex;
        margin: 50px auto 0;
        margin-bottom: 100px;
        max-width: 1200px;
        height: 600px;
        box-shadow: $Shadow_MD;
        border-radius: 15px;
        
        .contact-info{
            width: 450px;
            height: 100%;
            background-color: $primary-900;
            color: $primary-50;
            border-radius: 15px;

            .info-title{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 30px;
            
                h1{
                    justify-content: center;
                    letter-spacing: 0.03em;
                    font-size: $large_2;
                    font-weight: $Bold;
                }
                h3{
                    margin-top: 12px;
                    line-height: 16px;
                    letter-spacing: 0.03em;
                    font-size: $large_5;
                    font-weight: $Regular;
                }
            }
            .info-content{
                margin: 35px 50px 0; 
    
                .inf{
                    display: flex;
                    align-items: center;
                    margin-bottom: 15px;
    
                    .icon{
                        margin-right: 22px;
                    }
                }
    
            }
            .media{
                margin-top: 180px;
                margin-left: 50px;
    
                img{
                    margin-right: 15px;
                }
            }
        }
        .contact{
            display: flex;
            flex-direction: column;
            margin: auto 0 auto;

            .contact-fill{
                display: flex;
                flex-direction: column;
                width: 750px;

                .name,
                .mail-mobile{
                    display: flex;
                    justify-content: space-evenly;

                    h3{
                        color: $primary-900;
                        font-size: $large_4;
                        font-weight: $Medium;
                        margin-bottom: 8px;
                    }

                    input{
                        width: 250px;
                        height: 40px;
                        border: none;
                        outline: none;
                        border: 1.5px solid $neutral-500;
                        border-radius: 7px;
                        box-shadow: $Shadow_XS;
                        padding-left: 10px;
                        margin-bottom: 20px;
                    }

                    .img-name ,
                    .img-email,
                    .img-fname,
                    .img-tel
                    {
                        height: 18px;
                        width: 18px;
                        position: absolute;
                        visibility: hidden;
                    }

                    .img-name ,
                    .img-email{
                        margin: 9px 5px 0 0;
                        right: 36%;
                    }

                    .img-fname ,
                    .img-tel{
                        margin-top: 9px;
                        right: 10%;
                    }


                    // .inp.success{
                    //     border-color: $success-500;
                    // }
                    // .inp.error{
                    //     border-color: $error-700;
                    // }
                }
                .control.Success{
                    input{
                        border-color: $success-500;
                    }
                    .suc{
                        visibility: visible;
                    }
                }
                .control.error{
                    input{
                        border-color: $error-700;
                    }
                    .ero{
                        visibility: visible;
                    }
                }
            }

            .types{
                display: flex;
                flex-direction: column;
                width: 583.3px;
                margin: 0 auto 0;
                margin-top: 20px;

                .qst{
                    margin-bottom: 15px;
                    p{
                        line-height: 14px;
                        color: $primary-900;
                    }
                }
                .inp{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    .radio{

                        label{
                            cursor: pointer;
                            display: inline-flex;
                            align-items: center;
                        }

                        .input{
                           display: none;
                        }
                        
                        .inner{
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            border: 1px solid $neutral-300;
                            background-color: $neutral-50;
                            box-sizing: border-box;
                            padding: 2px;
                            margin-right: 7px;
                        }

                        .inner::after{
                            content: "";
                            height: 100%;
                            width: 100%;
                            display: block;
                            background-color: $secondary-500;
                            border-radius: 50%;
                            transform: scale(0);
                            transition: 0.15s;
                        }

                        .input:checked + .inner::after{
                            transform: scale(1);
                        }
                        .input:checked + .inner{
                            border-color: $secondary-500;
                        }
                    }
                    
                }
            }

            .message{
                display: flex;
                flex-direction: column;

                h3{
                    color: $primary-900;
                    font-size: $large_4;
                    font-weight: $Medium;
                }

                .msg{
                    margin-top: 10px;
                    background: none;
                    outline: none;
                    border: none;
                    border-bottom: 2px solid $primary-900;
                    padding: 15px 0 15px;
                    font-size: $large_5;
                }
                .submit{
                    width: 180px;
                    height: 50px; 
                    border: none;
                    outline: none;
                    background-color: $secondary-700;
                    color: $neutral-50;
                    font-size: $large_5;
                    font-weight: $Medium;
                    border-radius: 10px;
                    display: flex;
                    align-self: flex-end;
                    justify-content: center;
                    margin-top: 40px;
                    cursor: pointer;
                }
            }
        }
        
    }   
}

/*======================== FOOTER ==========================*/
/*==========================================================*/
/*==========================================================*/
.footer {
    background-color: $primary-900;
    color: $light-shade;
    display: flex;

    footer {
        max-width: 1200px;
        width: 100%;
        margin: auto;
        color: $primary-50;
        .lieferandlinks {
            display: flex;
            justify-content: space-between;
            margin: 70px 0;
            .logo-social {
                .logo {
                    margin-bottom: 32px;
                }
                .social-media {
                    width: 148px;
                    display: flex;
                    justify-content: space-between;
                    a {
                        transition: 0.2s;
                    }
                    a:hover { 
                        transform: translateY(1px);
                    }
                }
                flex-grow: 1;
            }
            .links-container {
                .links-ind {
                    h2 {
                        margin-bottom: 16px;
                        font-weight: $Medium;
                        font-size: $large_5;
                    }
                    .links {
                        a {
                            margin-bottom: 16px;
                            color: $primary-50;
                            font-size: $small_6;
                        }
                    }
                    #languages {
                        width: 105px;
                        height: 30px;
                        background: none;
                        color: $light-shade;
                        border: 1px solid $light-shade;
                        border-radius: 6px;
                        option {
                            color: $primary-900;
                        }
                    }
                }
                display: flex;
                flex-grow: 3;
                justify-content: space-between;
                .links {
                    display: flex;
                    flex-direction: column;
                    a {
                        color: $neutral-50;
                        text-decoration: none;
                        transition: 0.2s;
                    }
                    a:hover {
                        color: $light-shade;
                        transform: translate(2px);
                    }
                }
            }
        }
        .copyright-terms {
            margin: 0 auto 16px;
            padding-top: 10px;
            border-top: 1px solid $light-shade;
            display: flex;
            justify-content: space-between;
            color: $neutral-500;
            font-size: $footer;
            font-weight: $Medium;
            .terms {
                a {
                    margin-left: 20px;
                    color: $neutral-500;
                    text-decoration: none;
                    transition: 0.2s;
                }
                a:hover {
                    color: $light-shade;
                }
                a:active {
                    color: $neutral-300;
                }
            }
        }

    }
}

@media screen and (max-width: 825px) {
    .footer {
        .lieferandlinks {
            flex-direction: column;

            .logo-social {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 32px;
                .logo {
                    margin-bottom: 0 !important;
                }
            }
        }
    }
    
} 

@media screen and (max-width: 625px) {
    .footer {
        .lieferandlinks {
            .links-container {
                flex-wrap: wrap;
                justify-content: space-evenly;
                .links-ind {
                    margin-right: 10px;
                }
                .links-ind:nth-child(1) {
                    width: 100%;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    h2 {
                        min-width: max-content;
                    }
                    .links {
                        flex-direction: row;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        width: 78%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 481px) {
    .footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media screen and (max-width: 425px) {
    .footer {
        .copyright-terms {
            flex-direction: column;
            .copyright {
                margin-bottom: 10px;
                text-align: center;
            }
            .terms {
                display: flex;
                justify-content: space-between;
                a {
                    margin-left: 0 !important;
                }
            }
        }
    }

}
@media screen and (max-width: 360px)  {
    .footer {
        .lieferandlinks {
            .logo-social {
                flex-direction: column;
                .logo {
                    padding-bottom: 16px;
                }
            }
        }
    }
}
